h1{
  font-size: 2em;
  color: #fff;
  display: flex;
  float:left;
  margin: 5px auto 5px auto;
}

h2{
  font-size: 1.4em;
  color: #fff;
  margin-top: 0;
  padding: 1em 0 0 1em;
  text-transform: uppercase;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}
#map {
  height: 40em;
  width: 80%;
  float: right;
}

#pano {
  width: 200px;
  height: 200px;
}

/*Navbar*/

nav{
  background-color: #000;
  opacity: 0.7;
}

ul{
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;
}

li{
  display: inline-block;
  padding: 0.5% 2%;
}

li:hover, li:focus, li:active {
  background: #fff;
}

a{
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

a:hover, a:focus, li:active {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.fa-search {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
  .searchBox{
  position: relative;
  z-index: 1;
  color: #000;
}

.searchBox 
  input#search,
  .searchBox input#zoom-to-area-text,
  .searchBox select#max-duration,
  .searchBox select#mode,
  .searchBox input#places-search,
  .searchBox input#search-within-time-text,
  .full{
    display: inline-block;
    height: 3em;
    background: #2b303b;
    border: none;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.durText{
  text-transform: uppercase;
  font-size: 1.3em;
}

.btn{
  border-radius: 0;
  border: 0;
  height: 2em;
  padding: 0 12px;
}



.btn:hover, .btn:active, .btn:focus {
    background: #4D4D4D;
    color: #fff;
  }


hr{
  clear: right;

}

footer {
  margin-bottom: 2%;
}

.contact-box{
  display: inline-block;
}
