hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  height: 40em;
  width: 100%;
  margin: 0;
}

#pano {
  width: 325px;
  height: 275px;
}

h2 {
  font-size: 20px;
  margin: 10px;
  padding: 20px 0 0 0;
  text-transform: uppercase;
  height: 65px;
  line-height: 60px;
  color: #fff;
}

header {
  background-color: #000;
  opacity: 0.7;
  display: inline-block;
  width: 100%;
}
header h1 {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 50px;
}

.searchBox {
  color: #000;
  margin: 0 0 0 20px;
}
.searchBox input#search,
.searchBox input#zoom-to-area-text,
.searchBox select#max-duration,
.searchBox select#mode,
.searchBox input#places-search,
.searchBox input#search-within-time-text,
.searchBox .full {
  display: inline-block;
  background: #2b303b;
  border: none;
  font-size: 1em;
  color: #fff;
  padding: 10px 30px;
  height: 40px;
  margin-top: 10px;
  width: 250px;
}
.searchBox input#places-search,
.searchBox input#zoom-to-area-text,
.searchBox input#search-within-time-text {
  width: 250px;
  vertical-align: bottom;
  height: 40px;
}
.searchBox .btn {
  color: #fff;
  border-radius: 0;
  border: 0;
  background: #2b303b;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 10px;
  vertical-align: top;
}
.searchBox .btn.fa-search {
  padding: 4px 15px;
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  vertical-align: top;
}

.durText {
  text-transform: uppercase;
  font-size: 1.3em;
}

span,
select {
  display: inline-block;
  background: #2b303b;
  font-size: 1em;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  vertical-align: bottom;
  height: 40px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #4D4D4D;
  color: #fff;
}

hr {
  clear: right;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
select {
  border: none;
  height: 40px;
  width: 100%;
}
select #sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
select #sidebar-nav option {
  background: #2b303b;
}
select li {
  text-indent: 20px;
  line-height: 40px;
  color: #fff;
}
select li a {
  display: block;
  text-decoration: none;
}
select li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}
select li a:active, select li a:focus {
  text-decoration: none;
}

#sidebar-nav > .sidebar-brand a:hover {
  background: none;
}

@media (max-width: 767px) {
  .container-fluid {
    display: flex;
  }
  .container-fluid h1 {
    margin-left: 20px;
    text-align: center;
  }

  header h1 {
    margin-top: 0;
    color: #000;
    font-size: 20px;
  }

  .btn, select, form span {
    width: 90%;
  }

  .searchBox input#search,
.searchBox input#zoom-to-area-text,
.searchBox select#max-duration,
.searchBox select#mode,
.searchBox input#places-search,
.searchBox input#search-within-time-text {
    width: 90%;
  }

  select, span, input {
    margin-top: 10px;
  }

  #menu-toggle {
    height: 40px;
    width: 60px;
  }
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
